<h1>SUA CARTEIRA PESSOAL</h1>
<div *ngIf="!addcripto">
<label for="">
  <input type="text" (keyup)="findByName($event)">
  <button (click)="addCripto()">ADD</button>
</label>
<div >
<table id="customers">
  <tr>
    <th>position</th>
    <th>name</th>
    <th>weight</th>
    <th>symbol</th>
    <th>Deletar</th>
    <th>Alterar</th>
  </tr>
</table>
<app-Wallet *ngFor="let item of filteredCriptos" [ele]="item"></app-Wallet>
</div>
<p *ngIf="filteredCriptos.length === 0 ">CRIPTO NÂO LOCALIZADA</p>
</div>
<app-walletForm *ngIf="addcripto"></app-walletForm>
